<div id='container'>
  	<form name='createGame'>
		<div>
			name:<input type="text" name="name" placeholder="Game name" ng-model="name"><br>
			type:<input type="text" name="gameType" placeholder="Game type" ng-model="type"><br>
			description:<input type="text" name="gameDescription" placeholder="description" ng-model="description"><br>
			Location:<input type="text" name="gameLocation" placeholder="locationID" ng-model="locationID"><br>
			Country:<input type="text" name="gameCountry" placeholder="Country" ng-model="country"><br>
			City:<input type="text" name="gameCity" placeholder="City" ng-model="city"><br>
			picture: <input type="text" name="gamePicture" placeholder="City" ng-model="picture"><br>
			Date and time:<input type="text" name="gameDate" placeholder="City" ng-model="date"><br>
			<!-- <div class="dropdown">
				<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
	        		<div class="input-group">
	        			<input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	        		</div>
      			</a>
      			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        			<datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
      			</ul>
    		</div> -->
			players:<input type="text" name="players" placeholder="Enter player's name" ng-model="players"><br>
			Number of players:<input type="text" name="numOfPlayers" placeholder="" ng-model="numOfPlayers"><br>
			<button ng-click='getGameData(name, type, description, locationID, country, city, picture, date, players, numOfPlayers)'>Create Game</button>
		</div>
	</form>
</div>
