<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-title">
                    <h2>Edit {{game.name}}</h2>
                </div>
            </div>
        </div>            
        <div class="row">
            <div class="col-md-12">
                <div class="form-content">
                    <form id="contact" name="contact" method="post">  
                            <div class="col-md-12">
                                <p><label for="name">Game Name</label><input ng-model="game.name" placeholder="Type game name" type="text" size="30" value="" required/></p>
                            </div>
                            <!-- for Category selection -->
                            <div class="col-md-6">
                                <p><label for="name">Category</label>
                                <select ng-model="game.category" ng-change="update()">
                                  <option value="{{game.category}}">{{selectedCategory.name}}</option> <!-- not selected / blank option -->
                                  <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                                </select></p>
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">Type</label>
                                <select ng-model="game.type" >
                                  <option value="{{game.type}}">{{game.type}}</option> <!-- not selected / blank option -->
                                  <option ng-repeat="child in childs" value="{{child}}">{{child}}</option>
                                </select></p>
                            </div>

                            <div class="col-md-12">
                                
                                <p><label for="message">Descrrption</label><textarea ng-model="game.description" placeholder="Game Descrrption" required></textarea></p>
                                
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">Country</label><input ng-model="game.country" placeholder="Type game country" type="text"  size="30" value="" required/></p>
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">City</label><input ng-model="game.city" placeholder="Type game city" type="text"  size="30" value="" required/></p>
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">Number of Players</label><input ng-model="game.numOfPlayers" type="number" name="name"  min="2" max="99" value="" required/></p>
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">Date</label><input ng-model="game.date | date : yyyy-MM-dd" value="{{game.date | date : yyyy-MM-dd}}" type="date" size="30" value="" required/></p>
                            </div>
                            <div class="col-md-6">
                                <p><label for="name">Image URL</label><input ng-model="game.picture"  placeholder="Type game img URL" type="text"/></p>
                            </div>
                            <div >
                                <br/>
                                Click map to place markers
                                <ng-map zoom="16" center="current-location" on-click="placeMarker()">
                                </ng-map>
                            </div>


                            <div class="col-md-12">
                                <input id="submit" type="submit" name="submit" value="Edit" ng-click="editGame()">Edit Game
                                </input>
                            </div>
                    </form>	
                </div>                     
            </div>
        </div>
    </div>
</div> <!-- End contact area -->

<footer class="footer-copyright" style="    margin-top: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyright © 2016 - TeamUp | All Rights Reserved </p>
                </div>
            </div>
            

            <div class="col-md-4">
                <div class="social-footer text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>            
</footer> <!-- End footer bottom --> 
