<div class="slider-area">
    <div data-velocity="-.2" class="overlay-bg" style="background-image: url(/img/slide-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="slide-list" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <h2 style="color:#fff">Gather your teammates</h2>
                                    <p>neighbors getting together to learn something, do something, share something…</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <h2 style="color:#fff">TeamUp are</h2>
                                    <p>neighbors getting together to learn something, do something, share something…</p>
                                    <a href="#/createGame" class="readmore">GATHER NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <ol class="carousel-indicators">
                        <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                        <li data-target="#slide-list" data-slide-to="1"></li>
                      </ol>
                </div>                     
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row" style="text-align:center">
        </div>
        <div class="bar">
            <input type="text" ng-model="searchStr"/>
            <button ng-click="search(searchStr)">Search</button>
        </div> 
        <div ng-cloak>
            <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="currentGames">
            <md-card class="col-md-3"  ng-repeat="game in data.games | filter :currentGames" style="margin : 10px 0px 10px 0px;">
                <div style="height: 231px;"><a href="#/game/{{game._id}}"><img ng-src="{{game.picture}}" style="width: 100%;height: width;text-align:center" class="md-card-image" alt="Washed Out"></a>
                </div>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{game.name}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-subhead>
              <div style="font-size: 24px;"><i class="material-icons">class</i><span>{{game.type}}</span></div>
              </md-subhead>
              
              <md-card-content>
                <table class="table">
                  <tr>
                    <td># of Players :</td>
                    <td>{{game.numOfPlayers}}</td>
                  </tr>
                  <tr>
                    <td>Date :</td>
                    <td>{{game.date| date :yyyy:MM:dd}}</td>
                  </tr>
                </table>
                <!-- <p>Type : {{game.type}}</p>
                <p># of Players : {{game.numOfPlayers}}</p> -->
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share" style="color:#9b59b6">
                  {{game.likes.length}}
                </md-button>
                <md-button class="md-icon-button "  ng-if="isLogIn" aria-label="Favorite" >
                  <i class="material-icons {{game.loved}}"  id={{game._id}} ng-click="getLove($event)">favorite</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <a href="#/game/{{game._id}}"><i class="material-icons red">redo</i></md-icon></a>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings" >
                  <i class="material-icons red" id={{game._id}} ng-click="fbshare($event)" >share</i>
                </md-button>
              </md-card-actions>
                </md-card>
                </md-tab>
                <md-tab label="pastGames">
                <md-card class="col-md-3"  ng-repeat="game in data.games | filter :pastGames" style="margin : 10px 0px 10px 0px;">
                <div style="    height: 231px;"><a href="#/game/{{game._id}}"><img ng-src="{{game.picture}}" style="width: 100%;height: width;text-align:center" class="md-card-image" alt="Washed Out"></a></div>
                  <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{game.name}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-subhead>
              <div style="font-size: 24px;"><i class="material-icons">class</i><span>{{game.type}}</span></div>
              </md-subhead>
              
              <md-card-content>
                <table class="table">
                  <tr>
                    <td># of Players :</td>
                    <td>{{game.numOfPlayers}}</td>
                  </tr>
                  <tr>
                    <td>Date :</td>
                    <td>{{game.date| date :yyyy:MM:dd}}</td>
                  </tr>
                </table>
                <!-- <p>Type : {{game.type}}</p>
                <p># of Players : {{game.numOfPlayers}}</p> -->
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share" style="color:#9b59b6">
                  {{game.likes.length}}
                </md-button>
                <md-button class="md-icon-button "  ng-if="isLogIn" aria-label="Favorite" >
                  <i class="material-icons {{game.loved}}"  id={{game._id}} ng-click="getLove($event)">favorite</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <a href="#/game/{{game._id}}"><i class="material-icons red">redo</i></md-icon></a>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings" >
                  <i class="material-icons red" id={{game._id}} ng-click="fbshare($event)" >share</i>
                </md-button>
              </md-card-actions>
            </md-card>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
   

    </div>
</div>




 

<!-- <div id="portfolio" class="portfolio-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">   
                <div class="portfolio-menu">
                    <ul >
                        <li ng-repeat="type in data.types" ng-model="type" ng-click="showType($event)" id={{type}}>{{type}}</li>
                    </ul>
                </div>  
                <div class="portfolio-items">
                    <div class="single-portfolio" ng-animate="'animate'" ng-repeat="game in data.games | filter : type">
                        <img class="img-responsive portfolio-thumb" ng-src="{{game.picture}}" alt="">
                        <div class="portfolio-detail">
                            <h2>{{game.name}}</h2>
                            <div class="portfolio-link-wrap">
                                <a data-lightbox="example-2" data-title="{{game.type}}" href="{{game.picture}}" class="portfolio-zoom" >
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a class="portfolio-link" >
                                    <i class="fa fa-link"></i>
                                </a>
                                <a  href="#/game/{{game._id}}">
                                    <i >5</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                                                  
            </div>
        </div>  

    </div>
</div> 
-->
