<div class="container">
	<input ng-if="userId == pageId" type="button" ng-click="save()" class="btn btn-primary" value="Save" style="float: right"/>
	<input name="firstName" type="text" ng-model="newUser.firstName" placeholder="First Name" value="newUser.firstName">
	<input name="lastName" type="text" ng-model="newUser.lastName" placeholder="Last Name" value="newUser.lastName">
	<input name="email" type="text" ng-model="newUser.email" placeholder="email" value="newUser.email">
	<input name="country" type="text" ng-model="newUser.country" placeholder="Country" value="newUser.country">
	<input name="city" type="text" ng-model="newUser.city" placeholder="City" value="newUser.city">
</div>