<div class="container">
	<div class="row" style=" margin-left: 2%">
		<div ng-repeat="(k,value) in  MissingInfo  | limitTo : 1 ">
			<div class="panel-group" >
				<div class="panel panel-primary" style="width:30%">			
		    		<div class="panel-heading">Fill your missing information</div>
						<span style=" margin-left: 2%">{{value[0]}}</span>
						<input type="textbox" ng-model="data" style=" margin-left: 2%;width:50%">
						<button ng-click="setData(value[1],data)" class="btn btn-default" style="margin-left: 2%"> insert</button>
					</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-6" class="username" >
			<div style="text-align: center; padding: 120px 0"><h1>{{user.firstName}} {{user.lastName}}</h1></div>
		</div>
		<div class="col-xs-6">
			<img class="profilePic" src={{user.picture}} style="height: 250px; width: auto; margin: 0 auto; display: block;">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Last Game <span style="float:right;">{{lastGame.date| date:yyyy:MM:dd}}</span></h3> 
			  </div>
			  <div class="panel-body">
			    {{lastGame.name}}
			  </div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Next Game <span style="float:right;">{{countdown}}</span></h3> 
			  </div>
			  <div class="panel-body">
			    {{nextGame.name}}
			  </div>
			</div>
		</div>
	</div>

	<div class="row" style="margin: 2%">
		<ul class="nav nav-tabs nav-justified"> 
			<li role="presentation" class="active"><a href="/profile/{{userId}}/#about" data-toggle="tab" aria-expanded="true">About me</a></li> 
			<li role="presentation"><a href="/profile/{{userId}}/#past" data-toggle="tab" aria-expanded="false">Past Games</a></li> 
			<li role="presentation"><a href="/profile/{{userId}}/#current" data-toggle="tab" aria-expanded="false">Current Games</a></li> 
		</ul>

		<div id="myTabContent" class="tab-content">
		  
		  <div class="tab-pane fade active in" id="about">
		  	<div class="row" style="margin-left: 15%; margin-right: 15%; margin-top: 5%;">
			  	<div class="row">
				  	<input ng-if="userId == pageId && !editing" type="button" ng-click="edit()" class="btn btn-primary" value="Edit" style="float: right"/>
				  	<input ng-if="userId == pageId && editing" type="button" ng-click="save()" class="btn btn-primary" value="Save" style="float: right"/>
			  	</div>

			  	<div class="row" style="padding: 2% 2%; margin: 2%;">
				    <p ng-if="!editing"><strong>Email:</strong> {{user.email}}</p>
					<p ng-if="!editing"><strong>Country:</strong> {{user.country}}</p>
					<p ng-if="!editing"><strong>City:</strong> {{user.city}}</p>
					<label ng-if="!editing">Interests:</label>
					<div ng-if="!editing" ng-repeat="interest in user.interests">
						{{interest}}
					</div>

					<div class="form-group">
						<div class="col-xs-6" style="padding: 2%;">
						<input ng-if="editing" class="form-control" name="firstName" type="text" ng-model="newUser.firstName" placeholder="First Name" value="newUser.firstName">
						</div>
						<div class="col-xs-6" style="padding: 2%;">
						<input ng-if="editing" class="form-control" name="lastName" type="text" ng-model="newUser.lastName" placeholder="Last Name" value="newUser.lastName">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-xs-6" style="padding: 2%;">
							<input ng-if="editing" class="form-control" name="country" type="text" ng-model="newUser.country" placeholder="Country" value="newUser.country">
						</div>
						<div class="col-xs-6" style="padding: 2%;">
							<input ng-if="editing" class="form-control" name="city" type="text" ng-model="newUser.city" placeholder="City" value="newUser.city">
						</div>
					</div>
					<div class="form-group">
					<input ng-if="editing" class="form-control" name="email" type="text" ng-model="newUser.email" placeholder="Email" value="newUser.email">
					</div>
				
					<div class="row" ng-if="editing">
						<label>Add to Interests:</label>
					
						<div class="panel panel-default" ng-repeat="category in categories">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{category.name}}</h3>
						  </div>
						  <div class="panel-body">
						    <div class="row"  ng-repeat="game in category.games" style="margin: 1%">
	          					<div class="col-xs-6 col-md-4">
	          						{{game}}
	          					</div>
	          					<div class="col-xs-12 col-md-8">
	          						<input ng-if="user.interests.indexOf(game) === -1" type="button" value="Add" ng-click="newUser.interests.push(game)" class="btn btn-success" style="float: right">
	          						<input ng-if="user.interests.indexOf(game) !== -1" type="button" value="Remove" ng-click="newUser.interests.splice(newUser.interests.indexOf(game), 1)" class="btn btn-danger" style="float: right">
	          					</div>
	          				</div>
						  </div>
						</div>
					</div>
				</div>

			</div>
		  </div>

		  <div class="tab-pane fade" id="past">
	          <div class="row" ng-repeat="game in games | filter: pastGames | orderBy:'-date'" class="games" style="margin: 2%">
	          	<div class="col-xs-6 col-md-4">
	          		<img class="gamePic" ng-src={{game.picture}} style="height: 125px; width: auto; margin: 0 auto; display: block;">
	          		<div style="text-align: center;">{{game.type}}</div>
	          	</div>
	          	<div class="col-xs-12 col-md-8">
	          		<div class="row">
	          			<div class="panel panel-info">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{game.name}} <span style="float:right;">{{game.date| date:yyyy:MM:dd}}</span></h3>
						  </div>
						  <div class="panel-body">
	          				<div class="row" style="text-align: center;">
	          					{{game.description}}
	          				</div>
	          				<hr>
	          				<div class="row" style="margin: 1%">
	          					<div class="col-xs-6 col-md-4">
	          						{{game.city}}, {{game.country}}
	          					</div>
	          					<div class="col-xs-12 col-md-8">

	          					</div>
	          				</div>
						  </div>
						</div>
	          		</div>
	          	</div>
	          </div>
		  </div>

		  <div class="tab-pane fade" id="current">
		    <div class="row" ng-repeat="game in games | filter: currentGames | orderBy:'date'" class="games" style="margin: 2%">
	          	<div class="col-xs-6 col-md-4">
	          		<img class="gamePic" ng-src={{game.picture}} style="height: 125px; width: auto; margin: 0 auto; display: block;">
	          		<div style="text-align: center;">{{game.type}}</div>
	          	</div>
	          	<div class="col-xs-12 col-md-8">
	          		<div class="row">
	          			<div class="panel panel-info">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{game.name}} <span style="float:right;">{{game.date| date:yyyy:MM:dd}}</span></h3>
						  </div>
						  <div class="panel-body">
	          				<div class="row" style="text-align: center;">
	          					{{game.description}}
	          				</div>
	          				<hr>
	          				<div class="row" style="margin: 1%">
	          					<div class="col-xs-6 col-md-4">
	          						{{game.city}}, {{game.country}}
	          					</div>
	          					<div class="col-xs-12 col-md-8">

	          					</div>
	          				</div>
						  </div>
						</div>
	          		</div>
	          	</div>
	          </div>
		  </div>
		  
		</div>
	</div>

</div>