<div class="signup">
	
	<div  id="signupForm">
		<div >
			<p> firstName
			<input type="textbox" ng-model="user.firstName">							
			</p>
			<p> lastName
			<input type="textbox" ng-model="user.lastName">							
			</p>
			<p> Username
			<input type="textbox" ng-model="user.username">							
			</p>
			<p> password
			<input type="textbox" ng-model="user.password">							
			</p>
			<p> email
			<input type="textbox" ng-model="user.email">							
			</p>
		</div>
		<button ng-click="signup(user)">create</button>
		<div>		
		</div>
	</div>
</div>	