<div class="signup">
	
	<div  id="signupForm">
		<div >
			<p> firstName
			<input type="textbox" ng-model="user.firstName">							
			</p>
			<p> lastName
			<input type="textbox" ng-model="user.lastName">							
			</p>
			<p> Username
			<input type="textbox" ng-model="user.username">							
			</p>
			<p> password
			<input type="textbox" ng-model="user.password">							
			</p>
			<p> email
			<input type="textbox" ng-model="user.email">							
			</p>
		</div>
		<button ng-click="signup(user)">create</button>
		<div>		
		</div>
	</div>
</div>	

<footer class="footer-copyright" style=" position: fixed;
    bottom: 0;
    width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyright © 2016 - TeamUp | All Rights Reserved </p>
                </div>
            </div>
            

            <div class="col-md-4">
                <div class="social-footer text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>            
</footer> <!-- End footer bottom --> 