<div class="signin" id="signin">
	
	<div  id="signinForm">
		<div >
			<p> Username
			<input type="textbox" ng-model="user.username">							
			</p>
			<p> password
			<input type="textbox" ng-model="user.password">							
			</p>
			<p ng-hide="wrong">wrong username or password</p>
		</div>
		<div>
			<button ng-click="fbLogin()" class="fbutton">signin with Facebook</button>
			<button ng-click="signin(user)">login</button>	
			
		</div>
	</div>
</div>

<footer class="footer-copyright" style=" position: fixed;
    bottom: 0;
    width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyright © 2016 - TeamUp | All Rights Reserved </p>
                </div>
            </div>
            

            <div class="col-md-4">
                <div class="social-footer text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>            
</footer> <!-- End footer bottom --> 